body {
    background-image: url("../images/background2.jpg");
    background-size: 100%;
    color: white;
}

.right {
    float: right;
    border: solid 1px white;
    margin: 30px;
    border-radius: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

h1 {
    text-align: center;
}

.jumbotron {
    background: transparent;
    margin-top: 10%;
    font-family: 'Nova Mono', monospace;
}

#letters {
    font-size: 78px;
}

.unit {
    margin-top: 10%;
    text-align: center;
    border: solid 1px white;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
}